.special-swiper {
  width: 100%;
  padding: 10px 0;
}

.special-swiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}

.special-swiper .swiper-slide img {
  width: 110%;
  height:110%;
  object-fit: contain;
}
