

.special-swiper-unique .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.special-swiper-unique {
  width: 100%;
  padding: 1rem 0;
}

.special-swiper-unique .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}
