/* src/fonts/Font.css */

@font-face {
  font-family: 'Shabnam';
  src: url('./Shabnam.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Shabnam';
  src: url('./Shabnam-Medium-FD.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Shabnam';
  src: url('./Shabnam-Bold-FD.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Shabnam-FD';
  src: url('./Shabnam-FD.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fontello';
  src: url('./fontello.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
